/* the styles for the HTML elements */  
body {
    margin-top: 0;
    background-color: MediumBlue;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
    color: rgb(205, 163, 94);
}

table {
    border: 1px solid black;
    width: 220%;
}
td, th {
    border:0;
    padding: 1em 1em 1em 1em;
    vertical-align: top;
    height: 30px;
    width: 800px;
    text-align: left;
}
form {
    margin: 0;
}
br {
    clear: left;
}

/* the styles for the div tags that divide the page into sections */
#page {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgb(119, 75, 77);
}
#header {
    margin: 0;
    border-bottom: 2px solid rgb(119, 75, 77);
    padding: .5em 2em;
    text-align: center;
}
#header h1 {
    margin: 0;
    padding: .5em 0;
    color: black;
}
#main {
    margin: 0;
    padding: .5em 2em;
}

#content {
    float: left;
    width: 500px;
    padding-bottom: 1.5em;
}
#footer {
    clear: both;
    margin-top: 1em;
    padding-right: 1em;
    border-top: 2px solid rgb(119, 75, 77);
}
#footer p {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}

.right {
    text-align: right;
}
